<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>each people search</title>
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ID: [[${student.id}]]</h5>
            <p class="card-text">Name: [[${student.name}]]</p>
            <p class="card-text">Email: [[${student.email}]]</p>
        </div>
    </div>
    <div>
        <a href="/week8/thu/home" class="btn btn-secondary mt-3">Go back to Home</a>
    </div>
</div>
</body>
</html>