<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>each people search</title>
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ID: [[${student.id}]]</h5>
            <div class="card-text">
                <p class="card-text">Name: [[${student.name}]]</p>
                <p class="card-text">Email: [[${student.email}]]</p>
            </div>
        </div>
    </div>
    <div>
        <a href="/week8/thu/home" class="btn btn-secondary mt-3">Go back to Home</a>
        <a th:href="@{/week8/thu/update/{id} (id=${student.id})}" class="btn btn-primary mt-3">수정하기</a>
        <a href="#" class="btn btn-primary mt-3" onclick="confirmDelete()">삭제하기</a>
    </div>
</div>

<script>
    function confirmDelete() {
        var result = confirm("Are you sure you want to delete this student?");
        if (result) {
            deleteStudent();
        }
    }

    function deleteStudent() {
        var studentId = [[${student.id}]];
        var url = "/week8/thu/students/" + studentId;
        console.log(url);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                alert("Student deleted successfully.");
                window.location.href = "/week8/thu/home";
            } else if (xhr.readyState === 4 && xhr.status !== 200) {
                alert("Error deleting student.");
            }
        };
        xhr.send();
    }
</script>
</body>
</html>
