<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        .card:hover {
            background-color : #E6FFFD;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1>home</h1>
    <div th:if="${students.isEmpty()}" class="alert alert-info">
        <p>No Students here..</p>
    </div>
    <div>
        <div th:unless="${students.isEmpty()}" th:each="student : ${students}" class="card mb-3">
            <div class="card-body"
                 th:onclick="|window.location.href='@{/week8/thu/eachStudentView(studentId=${student.id})}'|">
                <h5 class="card-title">id: [[${student.id}]]</h5>
                <div class="card-text">
                    <p >Name: [[${student.name}]]</p>
                    <p >Email: [[${student.email}]]</p>
                </div>
            </div>
        </div>
    </div>
    <a href="/week8/thu/create-view" class="btn btn-primary">Create</a>
</div>
</body>
</html>
