<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        h2 {
            margin-top: 30px;
        }

        .list-group {
            /*margin-top: 20px;*/
        }

        .list-group-item {
            /*padding: 10px;*/
        }

        .list-group-item strong {
            font-weight: bold;
        }

        .list-group-item a {
            color: #000;
            text-decoration: none;
        }

        .list-group-item a:hover {
            color: #007bff;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="mt-4">Home</h2>
    <div class="card">
        <div class="card-header">
            <strong>Week 8 Monday:</strong>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/week8/mon/home">/week8/mon/home</a></li>
        </ul>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <strong>Week 8 Wednesday:</strong>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/week8/wed/home">/week8/wed/home</a></li>
            <li class="list-group-item"><a href="/week8/wed/student">/week8/wed/student</a></li>
            <li class="list-group-item"><a href="/week8/wed/is-logged-in">/week8/wed/is-logged-in</a></li>
            <li class="list-group-item"><a href="/week8/wed/please-log-in">/week8/wed/please-log-in</a></li>
            <li class="list-group-item"><a href="/week8/wed/each-string">/week8/wed/each-string</a></li>
            <li class="list-group-item"><a href="/week8/wed/each-student">/week8/wed/each-student</a></li>
            <li class="list-group-item"><a href="/week8/wed/each-student-empty">/week8/wed/each-student-empty</a></li>
        </ul>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <strong>Week 8 Thursday:</strong>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/week8/thu/send">/week8/thu/send</a></li>
            <li class="list-group-item"><a href="/week8/thu/hits">/week8/thu/hits</a></li>
            <li class="list-group-item"><a href="/week8/thu/home">/week8/thu/home</a></li>
        </ul>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <strong>Other:</strong>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/signup">/signup</a></li>
        </ul>
    </div>
</div>

</body>
</html>
